NAMESERVER=127.0.0.1
NAMESERVER_PORT=53
ZONE=xxx.local
PREFIX_LENGTH=24
TTL=3600
MARKER_PREFIX=x-dyn:
TIMESTAMP_PREFIX=x-dyn-ts:
SYNC_GRACE_SECONDS=3600
KEYRING_JSON={"xxx":"xxx"}
AUTHENTICATION_TOKENS_JSON=["xxx"]
